<%- include('../partials/head') %>
<div class="card">
  <h1>About VideoGameCentral</h1>
  <p>Founded by AM, we specialize in <em>selling video games</em>. I started with this idea a few years back. I though that it would be a cool idea to make a site online that you could buy games from. </p>
</div>
<%- include('../partials/foot') %>
