<%- include('../partials/head') %>
<div class="page-content">
  <div class="card">
    <h1>Blog</h1>
    <article class="card">
      <h2>History</h2>
      <p>Our project has run into many hurdles over its time. When making the company and website, there were many struggles such as funding and getting the rights to sell the games, but 
        we made it through, and brought you the title you know today. 
      </p>
    </article>
    <article class="card">
      <h2>Details</h2>
      <p>VideoGameCentral has held strong for several years now, still dedicated to its customer base. The website didn't take long to build; the hard part 
        was getting permission, and gaining the rights to start such a company. Since then VideoGameCentral has sold over 50,000 games and have over a hundered million players. (totally not steam stats)

      </p>
    </article>
  </div>
</div>
<%- include('../partials/foot') %>
