<%- include('../partials/head') %>
<div class="page-content">  
  <section class="hero">
    <h1>Welcome to VideoGameCentral</h1>
    <p>From Gamers, To Gamers</p>
    <a class="btn" href="/services">Explore Services</a>
  </section>
  <div class="card">
    <h2>Why choose us?</h2>
    <p>We are dedicated to our playerbase</p>
    <p>With the rising prices of games everywhere, we would at least like to make them avalible on a centered
      plane; avalible to all
    </p>
    <p>We want people eveywhere to have access to games and have fun</p>
  </div>
</div>
<%- include('../partials/foot') %>
