<%- include('../partials/head') %>
<div class="page-content">  
  <section class="hero">
    <h1>Welcome to VideoGameCentral</h1>
    <p>From Gamers, To Gamers</p>
    <a class="btn" href="/services">Explore Services</a>
  </section>
  <div class="card">
    <h2>Why choose us?</h2>
    <ul>
      <li>We are dedicated to our playerbase</li>
      <li>With the rising prices of games everywhere, we would at least like to make them avalible on a centered
        plane; avalible to all
      </li>
      <li>We want people eveywhere to have access to games and have fun</li>
    </ul>
  </div>
</div>
<%- include('../partials/foot') %>
