<%- include('../partials/head') %>
<div class="card">
  <h1>Services</h1>
  <ul>
    <li>VGC-Advanced $10.00 monthly — Offers more but limited game selection</li>
    <li>VGC-Gold $15.00 monthly <b><i>Recommended</i></b>— Offers a multitude of game selection, from console and PC</li>
    <li>VGC-Ultimate $20.00 monthly — Offers all that Gold does, with extra perks such as cheaper pre-order prices</li>
  </ul>
  <p>*Totally not based on Xbox subscriptions* Advanced offers a smaller game selection, and is more suited for those who are more casual and don't have a big library of games, and is a fair $10 even a month.
    Gold offers a vast variety of games, from both console and PC titles, at a price of $15 a month. 
    Ultimate offers everything that Gold does, plus extra perks such as cheaper pre-order prices, quicker access to new games, and more, at a fairly expensive $20 a month.
    It's important to know though, that these are completely optional and customers can still play most if not all games they want without a subscription.
  </p>
</div>
<%- include('../partials/foot') %>
